#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.settings {
  display:flex;
  width: 700px;
  margin-top: 50px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.hover-effect:hover {
  transform: scale(1.2);
}


